<tr id="<%= dom_id(donation) %>">
  <td><%= l donation.created_at %></td>
  <td><%= number_to_currency donation.total_paid_amount, precision: 0 %></td>
  <td><%= donation.human_attribute_value(:payment_status) %></td>
</tr>
